<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/prj-db</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">atti2d</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
 <!--   <property name="hibernate.query.factory_class">org.hibernate.hql.classic.ClassicQueryTranslatorFactory</property> -->
    <mapping resource="com/wilmss/PrayerRequestJournal/domain/entities/PrayerRequest.hbm.xml"/>
    <mapping resource="com/wilmss/PrayerRequestJournal/domain/entities/PrayerResponse.hbm.xml"/>
    <mapping resource="com/wilmss/PrayerRequestJournal/domain/entities/PrayerRequestor.hbm.xml"/>
    <mapping resource="com/wilmss/PrayerRequestJournal/domain/entities/Disposition.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
